# Commented sections below can be used to run tests on the CI server
# https://simulatedgreg.gitbooks.io/electron-vue/content/en/testing.html#on-the-subject-of-ci-testing
#osx_image: xcode8.3
sudo: required
#dist: trusty
language: node_js
node_js: 14
matrix:
  include:
    - os: osx
    # - os: linux
    #env: CC=clang CXX=clang++ npm_config_clang=1
    #compiler: clang
cache:
  directories:
    - node_modules
    - "$HOME/.electron"
    - "$HOME/.cache"
addons:
  apt:
    packages:
      - libgnome-keyring-dev
      - icnsutils
before_install:
  - mkdir -p /tmp/git-lfs && curl -L https://github.com/github/git-lfs/releases/download/v1.2.1/git-lfs-$(["$TRAVIS_OS_NAME"=="linux"] && echo "linux" || echo "darwin")-amd64-1.2.1.tar.gz | tar -xz -C /tmp/git-lfs --strip-components 1 && /tmp/git-lfs/git-lfs pull
install:
  - nvm install 14.17.0
  - curl -o--L https://yarnpkg.com/install.sh | bash
  - source ~/.bashrc
  - npm install -g xvfb-maybe
  - yarn
script:
  - npm run release
  #- yarn run build:docs
branches:
  only:
    - Send2Flomo
after_script:
  #- cd docs/dist
  #- git init
  #- git config user.name "Molunerfinn"
  #- git config user.email "[email protected]"
  #- git add .
  #- git commit -m "Travis build docs"
  #- git push  --force --quiet "https://${GH_TOKEN}@github.com/Molunerfinn/PicGo.git" master:gh-pages