.login-dialog {
  .el-dialog__header {
    display: none !important;
  }
  .el-dialog__body {
    padding: 10px !important;
  }
}
.el-overlay {
  background-color: rgba($color: #000, $alpha: 0.3);
  // backdrop-filter: blur(8px);
}
.iframe-box {
  width: 100%;
  height: 300px;
  iframe {
    width: 100%;
    height: 100%;
  }
}